---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
import {getCollection} from "astro:content";

const allPosts = await getCollection("posts");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
	<p>This is where I will post about my journey learning Astro.</p>
	<ul>
		{allPosts.map(({slug, data: {title}}) => <BlogPost url={`/posts/${slug}`} title={title} />)}
	</ul>
</BaseLayout>
