---
import BaseLayout from './BaseLayout.astro';
import Tags from '../components/Tags.astro';
import {fade} from "astro:transitions";

const {frontmatter: {title, description, author, pubDate, tags, image: {url, alt}}} = Astro.props;
---

<BaseLayout pageTitle={title}>
    <img src={url} width="175" height="75" alt={alt} style="background-color: green" />
    <p>Written by <a href="/about/">{author}</a></p>
    <p>Published on: {new Date(pubDate).toLocaleDateString()}</p>
    <h2 transition:animate={fade({
      duration: '2s',
    })}>{description}</h2>
    <Tags tags={tags} />
    <slot />
</BaseLayout>